.vscode
node_modules
coverage
serve
src
tests
.babelrc
.dockerignore
.env
.eslintignore
.eslintrc.js
.gitignoore
.prettierrc
build.sh
deployment.yaml
Dockerfile
jest.config.js
README.md
tsconfig.json
webpack.*
*.key*
